/* your styles go here */
@import url('https://fonts.googleapis.com/css?family=PT+Serif');


.icon{
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

#intro-bg {
  background: url('./../img/seattle.png');
  background-size: cover;
}

#navigation {
  font-style: normal;
  font-family: 'PT Serif', serif;
  font-size: 1.3em;
}